@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Bitter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Bitter-Bold.otf') format('opentype');
}
