$game-width: 700px;
$game-height: 400px;

.scramble-game {
  // Arrange the game in the center of the screen/parent div
  position: absolute;
  top: 50%;
  left: 50%;
  height: $game-height;
  width: $game-width;
  margin-top: -$game-height / 2;
  margin-left: -$game-width / 2;

  .game-area {
    position: relative;
    float: left;
    height: 100%;
    width: 70%;

    background-color: #cce;
  }

  .state-area {
    position: relative;
    float: left;
    height: 100%;
    width: 30%;

    background-color: #ecc;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: blue;
  position: absolute;
}
