@import '../variables';

$game-width: 700px;
$game-height: 400px;
$game-area-width: 480px;

.scramble-game {
  // Arrange the game in the center of the screen/parent div
  position: absolute;
  top: 40%;
  left: 50%;
  height: $game-height;
  width: $game-width;
  margin-top: -$game-height / 2;
  margin-left: -$game-width / 2;

  .title {
    color: $primary-color-light;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -11px;
  }
}

.game-container {
  position: relative;
  overflow: hidden;
  background-color: $primary-color-light;
  border-radius: 16px;

  .game-area {
    position: relative;
    float: left;
    height: 100%;
    width: $game-area-width;
  }

  .state-area {
    position: relative;
    float: left;
    height: 100%;
    width: $game-width - $game-area-width;

    font-size: 28px;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-color: $primary-color-light;
  border-radius: 16px;
}

.score {
  font-size: 100px;
  text-align: center;
  margin: 0;
  font-weight: 700;
  margin-bottom: 24px;
}

