@import '../variables';

.stat-block {
  margin: 16px 0;

  .stat-label {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-transform: uppercase;
    color: $primary-color-dark;
  }

  .stat-value {
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
  }
}
