$letter-box-size: 60px;

.word-display {
  overflow: hidden;
  margin: 24px 16px 48px 16px;
  height: $letter-box-size;

  * + * {
    margin-left: 16px;
  }
}

.letter {
  display: inline;
  float: left;
  width: $letter-box-size;
  height: $letter-box-size;

  text-align: center;
  line-height: $letter-box-size;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;

  background-color: $primary-color;

  border-radius: 10px;

  &.guessed {
    background-color: $primary-color-dark;
  }

  &.hidden {
    border: 1px dashed black;
  }
}
