{{scramble-game
  wordChallenges=model
  newGame="newGame"
}}

<div class="footer">
  Made by
  <a target="_blank" href="http://www.alexzirbel.com/">Alex Zirbel</a>.
  Words provided by
  <a target="_blank" href="http://developer.wordnik.com/">Wordnik</a>.
</div>
